@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.top-image{
    background: url(https://via.placeholder.com/800x500) no-repeat center center;
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-image-overlay{
    text-align: center;
}
