@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.top-image{
    background:linear-gradient( RGBA(0, 0, 0, 0.3), RGBA(0, 0, 0, 0.3)), url(../../public/images/IMG_5216.jpeg) no-repeat center center;
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-image-overlay{
    text-align: center;
}

.cstm-form-select{
    border-color: #E5E7EB;
}
.cstm-form-select:focus {
  outline: none;
}

.section-blue{
    background-color: rgba(130, 194, 191, 0.3);
}

.slick-prev {
  left: -52px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
}

.h-70vh{
    height: 70vh;
}
