@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 357, 34%, 64%;
      --primary-foreground: 210 40% 98%;

      --secondary: 218, 44%, 18%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
.vertical-timeline::before {
  background: var(--secondary-color) !important; 
  border-width: 1px !important;
}

.img-darker{
    filter: brightness(0.1);
}

.top-image{
    background:linear-gradient( RGBA(0, 0, 0, 0.3), RGBA(0, 0, 0, 0.3)), url(../../public/images/IMG_5216.jpeg) no-repeat center center;
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-image-overlay{
    text-align: center;
}

.cstm-form-select{
    border-color: #E5E7EB;
}
.cstm-form-select:focus {
  outline: none;
}

.section-blue{
    background-color: rgba(130, 194, 191, 0.3);
}

.slick-prev {
  left: -52px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
}

.h-70vh{
    height: 70vh;
}

.cstm-img{
    width: 117px;
    height: 117px;
    object-fit: cover;
}

.mt0{
    margin-top: 0px !important;
}

